@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    box-sizing: border-box;
  }

body {
    caret-color: red;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

::selection {
    background-color: red;
    color: white;
}

.selection-color-secondary::selection {
    background-color: white;
    color: red;
}

.max-w-40-percent {
    max-width: 30%;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}