@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    caret-color: red;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

::selection {
    background-color: red;
    color: white;
}

.selection-color-secondary::selection {
    background-color: white;
    color: red;
}